body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.links{
  padding: 16px;
  text-decoration: none;
}

.navBar{
  display: flex;
  justify-content: center;
}
.movies-list{
 display: grid;
 grid-template-columns: repeat(4,425px);
 place-items: center;
}
